Package: com.greg0109.batterydot
Name: BatteryDot
Architecture: iphoneos-arm
Description: Little customizable battery dot!
Maintainer: Greg0109
Author: Greg0109
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), com.creaturesurvive.libcscolorpicker
Version: 1.0.6
Installed-Size: 320
